<app-page-header title="Candidatos da Eleição">
  <a class="btn btn-outline-secondary" [routerLink]="['/admin/election-configuration/list']"><i
      class="fas fa-angle-double-left mr-1"></i> Voltar</a>
</app-page-header>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col-md-7">
      <app-input-custom type="text" id="name" label="Nome do candidato" formControlName="name"></app-input-custom>
    </div>
    <div class="form-group col-md-2">
      <app-input-custom type="number" id="code" label="Número" formControlName="code"></app-input-custom>
    </div>
    <div class="form-group col-md-3">
      <button class="btn btn-outline-success btn-block button-form">Adicionar</button>
    </div>
  </div>
</form>

<hr>

<div *ngIf="(items$ | async) as items;">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th class="w-75">Nome do candidato</th>
        <th class="text-center">Número</th>
        <th class="w-25 text-center" >Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td class="text-center">{{ item.code }}</td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-sm btn-outline-info"><i class="fa fa-edit"></i> Editar</button>
            <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Remover</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
