<app-page-header title="Sessões da Eleição">
  <div>
    <a
      class="btn btn-outline-secondary mr-2"
      [routerLink]="['/admin/election-configuration/list']"
      ><i class="fas fa-angle-double-left mr-1"></i> Voltar</a
    >
    <a
      class="btn btn-outline-success"
      [routerLink]="[
        '/admin/election-configuration',
        this.electionId,
        'sections',
        'form'
      ]"
    >
      <i class="fas fa-plus mr-1"></i> Criar Sessão</a
    >
  </div>
</app-page-header>

<div *ngIf="items$ | async as items">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" *ngFor="let item of items">
      <div class="card h-100 bg-light text-center" [ngClass]="{'border-danger': item.id == sectionIdHasOpened, 'border-success': item.peopleToVote == item.votes?.length && item.state == stateSection.Started}">
        <h5 class="card-header">{{ item.title }}</h5>
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="row">
            <div class="col-md-12 form-group">

              <div class="alert alert-warning" *ngIf="item.peopleToVote == item.votes?.length && item.state == stateSection.Started">
                Todos já votaram. Finalize a sessão.
              </div>

              <table class="table table-sm">
                <tr>
                  <th class="text-left">Sessão</th>
                  <td>{{ item.sequence }}</td>
                </tr>
                <tr>
                  <th class="text-left">Pessoas que votarão</th>
                  <td>{{ item.peopleToVote }}</td>
                </tr>
                <tr *ngIf="item.state != stateSection.Pending">
                  <th class="text-left">Votos computados</th>
                  <td>{{ item.votes?.length || '-' }}</td>
                </tr>
                <tr *ngIf="item.state != stateSection.Pending">
                  <th class="text-left">Andamento</th>
                  <td style="vertical-align: middle;">
                    <ngb-progressbar height="1.3rem" [value]="getPercentageVotes(item)" type="dark" [striped]="item.state == stateSection.Started" [animated]="item.state == stateSection.Started"><i>{{ getPercentageVotes(item) }}%</i></ngb-progressbar>
                  </td>
                </tr>
                <tr *ngIf="item.dateInitial">
                  <th class="text-left">Início da votação</th>
                  <td>{{ item.dateInitial | date: 'dd/MM/y HH:mm:ss' }}</td>
                </tr>
                <tr *ngIf="item.dateFinal">
                  <th class="text-left">Término da votação</th>
                  <td>{{ item.dateFinal | date: 'dd/MM/y HH:mm:ss' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Status</th>
                  <td>
                    <span *ngIf="item.state == stateSection.Pending"
                      >Aguardando início</span
                    >
                    <span *ngIf="item.state == stateSection.Started"
                      >Iniciada</span
                    >
                    <span *ngIf="item.state == stateSection.Finalized"
                      >Finalizada</span
                    >
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div
                class="d-md-flex justify-content-between"
                *ngIf="item.state == stateSection.Pending"
              >
                <a
                  class="btn btn-secondary btn-block mt-0 mr-md-1"
                  [routerLink]="[
                    '/admin/election-configuration',
                    this.electionId,
                    'sections',
                    item.id,
                    'edit'
                  ]"
                >
                  <i class="fas fa-edit mr-1"></i> Editar
                </a>
                <button (click)="startSection(item, items)" class="btn btn-secondary btn-block mt-0 ml-md-1 mt-md-0 mt-2">
                  <i class="fas fa-play mr-1"></i> Iniciar
                </button>
              </div>
              <div
                class="d-md-flex justify-content-between"
                *ngIf="item.state == stateSection.Started"
              >
                <button (click)="stopSection(item)" class="btn btn-secondary btn-block mt-0 ml-md-1 mt-md-0 mt-2">
                  <i class="far fa-stop-circle mr-1"></i> Finalizar
                </button>
              </div>
              <div
                class="d-md-flex justify-content-between"
                *ngIf="item.state == stateSection.Finalized"
              >
                <button class="btn btn-secondary btn-block mt-0 mr-md-1">
                  <i class="fas fa-users mr-1"></i> Ver resultados
                </button>
                <button
                  (click)="restartSection(item)"
                  class="btn btn-secondary btn-block mt-0 ml-md-1 mt-md-0 mt-2"
                >
                  <i class="fas fa-sync-alt mr-1"></i> Reiniciar sessão
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
