<div class="jumbotron text-center">
  <h1 class="display-5">Bem vindo ao app de Eleição.</h1>
  <p class="lead">Para votar, solicite o link da votação com o responsável.</p>
  <hr class="my-4">
  <p>Deseja utilizar esse site na sua igreja ou para suas votações? Fale com Jonathas Tassi através do e-mail (<a href="mailto:jonathastassi@hotmail.com">jonathastassi@hotmail.com</a>).</p>
  <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="jonathas-tassi-e-silva"><a class="LI-simple-link" href='https://br.linkedin.com/in/jonathas-tassi-e-silva?trk=profile-badge'>Jonathas Tassi e Silva</a></div>
</div>
