<div *ngIf="election">
  <div class="jumbotron py-3 w-100">
    <h3 class="text-center">{{ election.title }}</h3>
  </div>

  <div *ngIf="section$ | async as section">
    <ng-container *ngIf="section.state == stateSection.Started">
      <div
        *ngIf="section.peopleToVote == section.votes_count; else voteAllowed"
      >
        <div
          class="card text-center"
        >
          <h5 class="card-header">Votação concluída</h5>
          <div class="card-body">
            <p class="card-title">
              Aguarde a finalização da votação para ver o resultado dessa
              sessão.
            </p>
            <p class="card-title">
              Se houver outra sessão, aguarde o início da mesma.
            </p>
          </div>
        </div>
      </div>

      <ng-template #voteAllowed>
        <ng-container *ngIf="section.state == stateSection.Started">
          <div
            class="card text-center"
            *ngIf="
              (section$ | async)?.id == this.session_voted;
              else readyToVote
            "
          >
            <h5 class="card-header">Você já votou nessa sessão</h5>
            <div class="card-body">
              <p class="card-title">
                Aguarde a finalização da votação para ver o resultado dessa
                sessão.
              </p>
              <p class="card-title">
                Se houver outra sessão, aguarde o início da mesma.
              </p>
            </div>
          </div>

          <ng-template #readyToVote>
            <div class="card text-center" *ngIf="section$ | async as section">
              <h5 class="card-header">{{ section.title }}</h5>
              <div
                class="card-body"
                *ngIf="
                  candidates$ | async as candidates;
                  else loadingCandidates
                "
              >
                <h5 class="card-title">
                  Clique no nome do candidato que você deseja votar
                </h5>
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-block mb-1"
                  (click)="confirmVote(candidate, section)"
                  *ngFor="let candidate of candidates"
                >
                  {{ candidate.name }}
                </button>
              </div>

              <ng-template #loadingCandidates>
                <p>Aguarde! Listando os candidatos.</p>
              </ng-template>
            </div>
          </ng-template>
        </ng-container>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="section.state == stateSection.Finalized">
      <div class="card text-center">
        <h5 class="card-header">{{ section.title }}</h5>
        <div class="card-body">
          <app-section-result-list [electionId]="election.id" [section]="section"></app-section-result-list>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #emptyTemplate>
  <div class="alert alert-danger">Eleição não existe ou já foi finalizada.</div>
</ng-template>
