<div class="d-md-flex justify-content-between text-md-left text-center align-items-center">
  <h2>Configuração da Eleição</h2>
  <a class="btn btn-outline-success" [routerLink]="['/admin/election-configuration/form']">Criar
    eleição</a>
</div>
<hr class="mt-4 mb-4">

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card h-100 bg-light text-center">
      <h5 class="card-header">Reunião do Presbitério 2021</h5>
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-md-12 form-group">
            <strong>Data:</strong> 22/12/2021
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="d-md-flex justify-content-between">
              <button type="button" class="btn btn-secondary btn-block mt-0">Candidatos</button>
              <button type="button" class="btn btn-secondary btn-block mt-0 mx-md-2 my-md-0 my-2">Sessões</button>
              <button type="button" class="btn btn-secondary btn-block mt-0">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-header">Reunião do Presbitério 2021</div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-header">Reunião do Presbitério 2021</div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-header">Reunião do Presbitério 2021</div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
