<form [formGroup]="form" (ngSubmit)="save()">
  <app-page-header [title]="sectionId ? 'Alterando sessão' : 'Criando Sessão'">
    <div>
      <a
        class="btn btn-outline-secondary mr-1"
        [routerLink]="[
          '/admin/election-configuration',
          this.electionId,
          'sections',
          'list'
        ]"
        ><i class="fas fa-angle-double-left mr-1"></i> Voltar</a
      >
      <button
        type="button"
        (click)="remove()"
        *ngIf="sectionId && election.state == stateElection.Started"
        class="btn btn-outline-danger"
        [disabled]="form.get('state').value != stateSection.Pending"
      >
        <i class="fas fa-trash"></i> Excluir
      </button>
      <button
        *ngIf="election.state == stateElection.Started"
        class="btn btn-secondary ml-1"
        [disabled]="
          form.invalid && form.get('state').value != stateSection.Pending
        "
      >
        <i class="fas fa-check mr-1"></i> Salvar
      </button>
    </div>
  </app-page-header>

  <div
    class="alert alert-warning"
    *ngIf="election.state == stateElection.Finalized"
  >
    Eleição está finalizada
  </div>

  <div class="row">
    <div class="col-md-7 form-group">
      <app-input-custom
        type="text"
        id="title"
        label="Nome da sessão"
        formControlName="title"
      ></app-input-custom>
    </div>
    <div class="col-md-5 form-group">
      <app-input-custom
        type="number"
        id="peopleToVote"
        label="Quantidade de pessoas para votar"
        formControlName="peopleToVote"
      ></app-input-custom>
    </div>
  </div>
</form>
